body {
    background: #f3f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.profile {
    border: 1px solid #ddd;
    max-width: 25em;
    margin: 0 auto;
}

.profile .picture-box {
    background: #eee;
    text-align: center;
    padding: 1.5em;
    position: relative;
}

.profile .picture-box img {
    max-width: 50%;
    border-radius: 50%;
    border: 5px solid #fff;
}

.profile .picture-box .marker {
    display: inline-block;
    position: absolute;
    bottom: -1.5em;
    left: 45%;
    padding: 1em;
    border-radius: 50%;
    background: yellow;
}

.profile .details-box {
    padding: 1.5em;
    text-align: center;
    background: #fff;
}

.profile .details-box .footer .social-media {
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    border: 2px solid yellow;
    border-radius: 50%;
}